/* AI BOX */
.ai-box{

    margin-top:20px;

    padding:25px;

    border-radius:25px;

    background:
        rgba(255,255,255,0.08);

    backdrop-filter:blur(15px);

    border:
        1px solid rgba(255,255,255,0.1);

    box-shadow:
        0 8px 32px rgba(0,0,0,0.2);

}

/* TITLE */
.ai-box h3{

    font-size:22px;

    margin-bottom:20px;

    font-weight:700;

    color:#ffffff;

}

/* CONTENT */
#ai-prediksi p{

    font-size:16px;

    line-height:1.7;

    color:#e5e7eb;

}

/* HIGHLIGHT */
#ai-prediksi b{

    color:#38bdf8;

    font-size:17px;

}

/* STATUS */
#ai-prediksi p:last-child{

    margin-top:10px;

    font-weight:600;

    font-size:17px;

}

/* MOBILE */
@media(max-width:768px){

    .ai-box{

        padding:20px;

        border-radius:20px;

    }

    .ai-box h3{

        font-size:20px;

    }

    #ai-prediksi p{

        font-size:15px;

    }

}